/* body {
  position: relative;
  background: linear-gradient(#fefefe, #01213dab);
  width: 1440px;
}
.titulo {
  position: absolute;
  text-align: center;
  top: 20px;
  margin-bottom: 10px;
  left: 540px;
  font-size: 24px;
  font-family: sans-serif;
  color: #5d6d7e;
  font-weight: bold;
}
.contenido-encabezado,
.logo {
  position: absolute;
  width: 120px;
  height: 48px;
  margin-top: 25px;
  animation-name: logo;
  animation-duration: 2s;
}

@keyframes logo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.contenido-principal {
  margin: 0 auto;
}
.principal-1 {
  width: 700px;
  height: 650px;
}
.caja-texto1 {
  position: absolute;
  left: 270px;
  top: 168px;
}

.input-texto1 {
  width: 450px;
  height: 48px;
  font-size: x-large;
  font-family: sans-serif;
  font-weight: normal;
  border: none;
  background-color: #d6dbdf;
}
.caja-exclamacion {
  position: absolute;
  left: 270px;
  top: 545px;
}

.texto-exclamacion {
  font-family: sans-serif;
  font-size: 12px;
}
.caja-button {
  position: absolute;
  left: 270px;
  top: 575px;
}

.button {
  border-radius: 8px;
  border: none;
  width: 250px;
  height: 40px;
  font-family: sans-serif;
  font-size: 22px;
  margin: 0 0 0 8px;
  cursor: pointer;
}

#button1 {
  background: #4d5656;
  transition-duration: 0.4s;
  color: #aaa;
  border: 1px solid orange;
}

#button1:hover {
  background-color: #5d6d7e;
  color: white;
  width: 270px;
  box-shadow: 0px 0px 8px 8px rgba(black);
}
#button2 {
  background: #7b7d7d;
  color: #aaa;
  transition-duration: 0.4s;
  border: 1px solid orange;
}

#button2:hover {
  background-color: #5d6d7e;
  color: white;
  width: 270px;
}

#button3 {
  position: absolute;
  background: #4d5656;
  color: #aaa;
  transition-duration: 0.4s;
  top: 570px;
  right: 50px;
  display: none;
  border: 1px solid orange;
}

#button3:hover {
  background-color: #5d6d7e;
  color: white;
  width: 270px;
}
.caja-muneco {
  position: absolute;
  width: 340px;
  height: 650px;
  left: 1000px;
  bottom: 0px;
  background: #fbfcfc;
  border-radius: 10px;
}

.caja-texto-encriptado {
  position: absolute;
  width: 330px;
  left: 35px;
  top: 20px;
}
#texto-encriptado {
  top: 30px;
  font-size: 24px;
  text-align: center;
  font-family: sans-serif;
  border: none;
  display: none;
}
#texto-muneco1 {
  position: absolute;
  display: inline-block;
  top: 500px;
  right: 10px;
  font-size: 24px;
  text-align: center;
  font-family: sans-serif;
}

#texto-muneco2 {
  position: absolute;
  display: inline-block;
  top: 550px;
  right: 10px;
  font-size: 18px;
  text-align: center;
  font-family: sans-serif;
  margin-top: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.contenido {
  background-color: #fefefe;
  margin: 300px auto;
  border: 1.5px solid #2e9800;
  border-radius: 10px;
  width: 20%;
  text-align: center;
  font-family: sans-serif;
  padding: 20px;
  color: #888;
}

.contenido h2 {
  margin: 15px;
  font-weight: bold;
  color: #888;
  transition: 2s all;
  animation-name: modal;
  animation-duration: 2s;
}
.contenido h2:hover {
  transform: scale(1.3);
}

@keyframes modal {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}
.cerrar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: 1s;
}

.cerrar:hover,
.cerrar:focus {
  transform: scale(1.2);
  color: black;
  text-decoration: none;
  cursor: pointer;
} */

/* Seccion para el header */
html body {
  font-family: "Great Vibes", cursive;
  font-family: "Kalam", cursive;
  font-family: "Montserrat", sans-serif;
}

#cabecera {
  display: flex;
  justify-content: center;
  width: 96%;
  height: 150px;
  padding: 0 2%;
}
.caja-logo-titulo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 960px;
  background-color: aliceblue;
}
#cabecera img {
  margin: 0px 280px 0px 0px;
}
#cabecera h1 {
  font-size: 30px;
  text-align: center;
  margin: 0px 80px 0px 0px;
}

main {
  display: flex;
  justify-content: center;
  width: 96%;
  padding: 0 2%;
}

main .container-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #17202a;
  width: 960px;
  position: relative;
  border-top: 2px solid #00ff00;
  border-bottom: 2px solid #00ff00;
}

#mensaje-informativo {
  font-size: 22px;
  color: aliceblue;
  padding: 20px;
}
#encriptado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 350;
  height: 500px;
  border: 1px solid #00ff00;
  border-radius: 8px;
  padding: 20px;
}

#ingresar-texto {
  width: 300px;
  height: 30px;
  font-size: 24px;
}

#input-texto-encriptado {
  width: 300px;
  height: 420px;
  margin-top: 10px;
  font-size: 24px;
  text-align: center;
}

.input-texto {
  border-radius: 8px;
}

#muneco {
  width: 300px;
  z-index: 1;
  position: absolute;
  top: 100px;
}

.caja-normas {
  font-size: 22px;
  color: aliceblue;
  padding: 20px;
}
.caja-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 100px;
  border: 1px solid #00ff00;
  border-radius: 10px;
}

.button {
  margin: 0 8px;
  width: 150px;
  height: 40px;
  border: 2px solid #00ff00;
  border-radius: 8px;
  background-color: #17202a;
  color: #00ff00;
  font-size: 18px;
  transition: 1s ease-in-out 0s;
}
.button:hover {
  width: 170px;
  height: 40px;
  border: 2px solid #17202a;
  border-radius: 8px;
  background-color: #00ff00;
  color: #17202a;
  font-size: 18px;
  cursor: pointer;
}

#myModal {
  display: none;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 96%;
  padding: 0 2%;
  height: 150px;
}

#contenido-footer {
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 960px;
  height: 150px;
}
@media screen and (max-width: 480px) {
  body {
    margin: 0;
    padding: 0;
  }
  #cabecera {
    width: auto;
  }
  .caja-logo-titulo {
    width: 100%;
    padding: 6px;
  }
  #cabecera img {
    margin: 0;
  }

  #cabecera h1 {
    font-size: 18px;
    margin: 0;
  }

  main {
    width: auto;
  }
  main .container-main {
    width: 100%;
  }
  #mensaje-informativo {
    font-size: 16px;
  }

  #encriptador {
    width: auto;
  }
  .caja-normas {
    font-size: 16px;
  }
  .caja-button {
    width: 100%;
  }
  footer {
    width: auto;
  }
  #contenido-footer {
    width: 100%;
  }
}
