/* body {
  position: relative;
  background: linear-gradient(#fefefe, #01213dab);
  width: 1440px;
}
.titulo {
  position: absolute;
  text-align: center;
  top: 20px;
  margin-bottom: 10px;
  left: 540px;
  font-size: 24px;
  font-family: sans-serif;
  color: #5d6d7e;
  font-weight: bold;
}
.contenido-encabezado,
.logo {
  position: absolute;
  width: 120px;
  height: 48px;
  margin-top: 25px;
  animation-name: logo;
  animation-duration: 2s;
}

@keyframes logo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.contenido-principal {
  margin: 0 auto;
}
.principal-1 {
  width: 700px;
  height: 650px;
}
.caja-texto1 {
  position: absolute;
  left: 270px;
  top: 168px;
}

.input-texto1 {
  width: 450px;
  height: 48px;
  font-size: x-large;
  font-family: sans-serif;
  font-weight: normal;
  border: none;
  background-color: #d6dbdf;
}
.caja-exclamacion {
  position: absolute;
  left: 270px;
  top: 545px;
}

.texto-exclamacion {
  font-family: sans-serif;
  font-size: 12px;
}
.caja-button {
  position: absolute;
  left: 270px;
  top: 575px;
}

.button {
  border-radius: 8px;
  border: none;
  width: 250px;
  height: 40px;
  font-family: sans-serif;
  font-size: 22px;
  margin: 0 0 0 8px;
  cursor: pointer;
}

#button1 {
  background: #4d5656;
  transition-duration: 0.4s;
  color: #aaa;
  border: 1px solid orange;
}

#button1:hover {
  background-color: #5d6d7e;
  color: white;
  width: 270px;
  box-shadow: 0px 0px 8px 8px rgba(black);
}
#button2 {
  background: #7b7d7d;
  color: #aaa;
  transition-duration: 0.4s;
  border: 1px solid orange;
}

#button2:hover {
  background-color: #5d6d7e;
  color: white;
  width: 270px;
}

#button3 {
  position: absolute;
  background: #4d5656;
  color: #aaa;
  transition-duration: 0.4s;
  top: 570px;
  right: 50px;
  display: none;
  border: 1px solid orange;
}

#button3:hover {
  background-color: #5d6d7e;
  color: white;
  width: 270px;
}
.caja-muneco {
  position: absolute;
  width: 340px;
  height: 650px;
  left: 1000px;
  bottom: 0px;
  background: #fbfcfc;
  border-radius: 10px;
}

.caja-texto-encriptado {
  position: absolute;
  width: 330px;
  left: 35px;
  top: 20px;
}
#texto-encriptado {
  top: 30px;
  font-size: 24px;
  text-align: center;
  font-family: sans-serif;
  border: none;
  display: none;
}
#texto-muneco1 {
  position: absolute;
  display: inline-block;
  top: 500px;
  right: 10px;
  font-size: 24px;
  text-align: center;
  font-family: sans-serif;
}

#texto-muneco2 {
  position: absolute;
  display: inline-block;
  top: 550px;
  right: 10px;
  font-size: 18px;
  text-align: center;
  font-family: sans-serif;
  margin-top: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.contenido {
  background-color: #fefefe;
  margin: 300px auto;
  border: 1.5px solid #2e9800;
  border-radius: 10px;
  width: 20%;
  text-align: center;
  font-family: sans-serif;
  padding: 20px;
  color: #888;
}

.contenido h2 {
  margin: 15px;
  font-weight: bold;
  color: #888;
  transition: 2s all;
  animation-name: modal;
  animation-duration: 2s;
}
.contenido h2:hover {
  transform: scale(1.3);
}

@keyframes modal {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}
.cerrar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: 1s;
}

.cerrar:hover,
.cerrar:focus {
  transform: scale(1.2);
  color: black;
  text-decoration: none;
  cursor: pointer;
} */

/* Seccion para el header */
html body {
  font-family: "Great Vibes", cursive;
  font-family: "Kalam", cursive;
  font-family: "Montserrat", sans-serif;
}
header {
  display: flex;
  width: 96%;
  height: 15%;
  justify-content: center;
  padding: 0 2%;
  position: relative;
}

.caja-logo-titulo {
  background: #d0d3d4;
  display: flex;
  width: 960px;
  padding-top: 20px;
  justify-content: center;
}
.logo {
  flex: 1;
  padding-bottom: 10px;
}
.titulo {
  flex: 1;
  text-align: center;
  display: inline-block;
  color: #1c2833;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 40%;
}
/* Seccion para el main */
main {
  display: flex;
  justify-content: center;
  width: 96%;
  height: 70%;
  padding: 0 2%;
}
.container-main {
  background-color: #17202a;
  border-top: 2px solid orange;
  border-bottom: 2px solid orange;
  display: flex;
  flex: 1;
  max-width: 960px;
  height: 750px;
  justify-content: center;

  position: relative;
}

#mensaje-informativo {
  position: absolute;
  top: 20px;
  font-size: 20px;
  color: aliceblue;
}
.caja-ingresar-texto {
  flex: 1;
  position: absolute;
  left: 330px;
  top: 45px;
}
#input-ingresar-texto {
  width: 300px;
  height: 25px;
  font-size: 22px;
  margin-top: 20px;
  position: absolute;
  border-radius: 6px;
  border: 2px solid orange;
}

.caja-texto-encriptado {
  flex: 1;
  position: absolute;
  left: 330px;
  top: 150px;
}

#input-texto-encriptado {
  width: 300px;
  height: 400px;
  border-radius: 10px;
  border: 2px solid orange;
  font-size: 22px;
  text-align: center;
}

.caja-normas {
  position: absolute;
  top: 600px;
  color: aliceblue;
}
.caja-button {
  position: absolute;
  top: 640px;
  padding: 10px;
  border: 1px solid orange;
  border-radius: 6px;
}

.button {
  width: 150px;
  height: 40px;
  margin: 0 5px;
  border: 1px solid orange;
  border-radius: 6px;
  background-color: #1c2833;
  color: orange;
  transition: 0.7s ease-in-out 0s;
}

.button:hover {
  width: 180px;
  background-color: orange;
  color: #1c2833;
  border: 1px solido #1c2833;
}
.muneco {
  position: absolute;
  top: 220px;
}
.modal {
  display: none;
}
/* Seccio para el footer */
footer {
  background-color: greenyellow;
  display: flex;
  justify-content: center;
  width: 96%;
  padding: 0 2%;
  font-size: 20px;
}

.contenido-footer {
  flex: 1;
  width: 960px;
  text-align: center;
  max-width: 960px;
  height: 100px;
  position: absolute;
  background: #d0d3d4;
  color: #1c2833;
  font-weight: bold;
}
.contenido-footer p {
  padding: 30px;
  font-size: 20px;
}

/* Diseño responsi */
@media screen and (max-width: 480px) {
  .caja-logo-titulo {
    width: 480px;
    margin: 0;
    padding: 0;
  }

  .caja-logo-titulo img {
    width: 30%;
    padding-top: 10px;
  }
  .titulo {
    font-size: 22px;
  }

  .container-main {
    width: 480px;
  }
  #mensaje-informativo {
    text-align: center;
  }

  .caja-ingresar-texto {
    left: 40px;
    padding: 15px 0;
  }

  .caja-texto-encriptado {
    left: 40px;
  }
  .caja-button {
    width: 340px;
    flex: 1;
  }
  .button {
    width: 95px;
    height: 30px;
    margin: 5px;
    border: 1px solid orange;
    border-radius: 6px;
    background-color: #1c2833;
    color: orange;
    transition: 0.7s ease-in-out 0s;
    position: relative;
    left: 8px;
  }
  .button:hover {
    width: 110px;
    background-color: orange;
    color: #1c2833;
    border: 1px solido #1c2833;
  }
  .contenido-footer {
    width: 385px;
    padding: 0;
    margin: 0;
  }
  .contenido-footer p {
    font-size: 16px;
  }
}
