html body {
  font-family: "Great Vibes", cursive;
  font-family: "Kalam", cursive;
  font-family: "Montserrat", sans-serif;
  background-color: #17202a;
}

#cabecera {
  display: flex;
  justify-content: center;
  width: 96%;
  height: 150px;
  padding: 0 2%;
}
.caja-logo-titulo {
  display: flex;
  z-index: 1;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 960px;
  background-color: aliceblue;
  border: 1px solid #00ff00;
}
#cabecera h1 {
  font-size: 30px;
  font-weight: bold;
}

#cabecera img {
  width: 7%;
}
main {
  display: flex;
  justify-content: center;
  width: 96%;
  padding: 0 2%;
}

main .container-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #17202a;
  width: 960px;
  position: relative;
  border: 1px solid #00ff00;
}

#mensaje-informativo {
  padding: 20px;
}

#mensaje1 {
  font-size: 22px;
  color: aliceblue;
}
#mensaje2 {
  display: none;
  color: #00ff00;
  padding: 20px;
  font-size: 22px;
}

#mensaje3 {
  display: none;
  color: #00ff00;
  padding: 20px;
  font-size: 22px;
}
#encriptado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 350;
  height: 500px;
  border: 1px solid #00ff00;
  border-radius: 8px;
  padding: 20px;
}

#ingresar-texto {
  width: 300px;
  height: 30px;
  font-size: 24px;
}

#input-texto-encriptado {
  width: 300px;
  height: 420px;
  margin-top: 10px;
  font-size: 24px;
  text-align: center;
  visibility: hidden;
}

.input-texto {
  border-radius: 8px;
}

#muneco {
  width: 300px;
  z-index: 1;
  position: absolute;
  top: 100px;
}

.caja-normas {
  font-size: 22px;
  color: aliceblue;
  padding: 20px;
}
.caja-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 100px;
  border: 1px solid #00ff00;
  border-radius: 10px;
  margin-bottom: 15px;
}

.button {
  margin: 0 8px;
  width: 150px;
  height: 40px;
  border: 2px solid #00ff00;
  border-radius: 8px;
  background-color: #17202a;
  color: #00ff00;
  font-size: 18px;
  transition: 1s ease-in-out 0s;
}
.button:hover {
  width: 170px;
  height: 40px;
  border: 2px solid #17202a;
  border-radius: 8px;
  background-color: #00ff00;
  color: #17202a;
  font-size: 18px;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.contenido-modal {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  text-align: center;
  border: 2px solid #00ff00;
  border-radius: 8px;
  width: 40%;
}

.contenido-modal h2 {
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
}

.cerrar {
  color: #aaa;
  float: right;
  font-size: 45px;
  font-weight: bold;
}

.cerrar:hover,
.cerrar:focus {
  color: black;
  text-decoration: none;
  font-size: 50px;
  cursor: pointer;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 96%;
  padding: 0 2%;
  height: 150px;
}

#contenido-footer {
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 960px;
  height: 150px;
  border: 1px solid #00ff00;
  font-weight: bold;
}
@media screen and (max-width: 480px) {
  body {
    margin: 0;
    padding: 0;
  }
  #cabecera {
    width: auto;
  }
  .caja-logo-titulo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 6px;
  }
  #cabecera img {
    margin: 0;
  }

  #cabecera h1 {
    font-size: 18px;
    margin: 0;
  }

  main {
    width: auto;
  }
  main .container-main {
    width: 100%;
  }
  #mensaje-informativo {
    font-size: 16px;
    text-align: center;
  }

  #encriptador {
    width: auto;
  }
  .caja-normas {
    font-size: 16px;
    text-align: center;
  }
  .caja-button {
    width: 100%;
  }
  .contenido-modal {
    width: 80%;
  }
  footer {
    width: auto;
  }
  #contenido-footer {
    width: 100%;
  }
}
